@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,400i,700');

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;

 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

body {
  font-family: 'Lora', serif;
}

a {
  @apply .text-blue-dark;
}

h1, h2, h3, h4, h5, h6 {
  background: transparent !important;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.hr {
  @apply .border-grey-light;

  margin-bottom: 3rem;
  margin-top: -3rem;
}

.article {
  margin-bottom: 4rem;
}

.article:last-child {
  margin-bottom: 4rem;
}

@media (min-width: 576px) {
  .article-list .article {
    margin-bottom: 6rem;
  }
}

.article p {
  line-height: 1.75;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

.article h3 {
  margin-bottom: 1.25rem;
  margin-top: 2rem;
}

.article p a {
  @apply .underline;
}

.article p a:hover {
  @apply .no-underline;
}

.article ul li, .article ol li {
  @apply .my-2;
  line-height: 1.625;
}

.article blockquote {
  @apply .border-l-2 .pl-2 .text-grey-darkest;
}

.article pre {
  @apply .bg-grey-lightest .border .rounded .p-2 .overflow-x-scroll;
}

.article-header {
  font-family: 'Lato', sans-serif;
}

.article-body img {
  @apply .border .border-grey-light;
}

.menu {
  transition: left .15s;
}

@media (max-width: 767px) {
  .menu {
    overflow-y: scroll;
  }
}

@media (min-width: 768px) {
  .menu {
    left: 0;
  }
}

.menu-button div {
  @apply .bg-black;

  border-radius: 1px;
  height: 3px;
  margin: 4px;
  width: 18px;
}

.menu-button div:first-child {
  margin-top: 6px;
}

.mask {
  transition: background .15s;
}

@media (max-width: 767px) {
  body[data-menu-open="true"] {
    height: 100%;
    overflow: hidden;
    position: fixed;
  }

  body[data-menu-open="false"] .menu {
    left: -16rem;
  }

  body[data-menu-open="true"] .menu {
    left: 0rem;
  }

  body[data-menu-open="true"] .mask {
    background: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

twitterwidget {
  @apply .mx-auto;
}

 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;

 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

.w-xxs {
  width: 16rem;
}

.max-w-140 {
  max-width: 35rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media (min-width: 1200px) {
  .xl\:max-w-xxs {
    max-width: 16rem;
  }
}
