@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,400i,700');

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;

 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

body {
  font-family: 'Lora', serif;
}

a {
  @apply .text-blue-dark;
}

h1, h2, h3, h4, h5, h6 {
  background: transparent !important;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.header {
  font-family: 'Lato', sans-serif;
}

.hr {
  @apply .border-grey-light;

  margin-bottom: 3rem;
  margin-top: -3rem;
}

.article {
  margin-bottom: 6rem;
}

.article-header {
  font-family: 'Lato', sans-serif;
}

@media (min-width: 576px) {
  .article {
    margin-bottom: 8rem;
  }
}

.article:last-child {
  margin-bottom: 4rem;
}

.article p {
  line-height: 1.75;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

.article h3 {
  margin-top: 2rem;
}

.article p a {
  @apply .underline;
}

.article ul li {
  @apply .my-2 .leading-normal;
}

.article blockquote {
  @apply .border-l-2 .pl-2 .text-grey-darkest;
}

.article pre {
  @apply .bg-grey-lightest .border .rounded .p-2 .overflow-x-scroll;
}

.article-body img {
  @apply .border .border-grey-light;
}

twitterwidget {
  @apply .mx-auto;
}

 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;

 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

.max-w-140 {
  max-width: 35rem;
}

@media (min-width: 992px) {
  .lg\:max-w-xxs {
    max-width: 14rem;
  }
}

