<article class="article">
  <h2>
    <%= link_to article.title, article, class: 'no-underline text-black hover:underline' %>
  </h2>
  <%= article.body %>
  <footer class="border-t-2 border-grey-darkest pt-2 mt-8 uppercase text-sm font-bold">
    <%= article.date.strftime('%b %e, %Y') %>
  </footer>
</article
