<article class="article">
  <header class="article-header relative mb-8">
    <% link_to article,
               class: 'block no-underline max-w-sm mx-auto text-center text-black ' \
                      'hover:text-blue-dark border-b-2 border-grey-dark ' \
                      'hover:border-blue-light m:pb-1' do %>
      <h2 class="max-w-xs mx-auto leading-tight pb-3 text-2xl sm:text-3xl">
        <%= article.title %>
      </h2>
    <% end %>
    <div class="max-w-sm mx-auto text-grey-darker sm:mt-1">
      <div class="mt-2 inline-block ">
        <%= link_to 'Link to post', article, class: 'no-underline' %>
      </div>
      <div class="mt-2 float-right">
        <%= article.date.strftime('%b %e, %Y') %>
      </div>
    </div>
  </header>
  <div class="article-body">
    <%= article.body %>
  </div>
</article>
