<% link_to url, class: "block md:w-1/2 max-w-xs shadow-md mx-auto md:mx-4 my-8 no-underline text-black" do %>
  <div class="relative w-full h-64">
    <%= image_tag image, class: 'w-full h-full object-cover greyscale' %>
  </div>
  <div class="px-4 py-2">
    <h3 class="mb-1 pb-1 border-b border-blue-lighter text-blue-dark leading-tight"><%= title %></h3>
    <p class="leading-normal"><%= body %></p>
  </div>
<% end %>
