---
title: Home
pageable: true
per_page: 5
---

<% if paginate && num_pages > 1 && prev_page %>
  <div class="text-grey-darker mb-8 relative">
    <%= partial 'pagination' %>
  </div>
<% end %>

<div class="article-list">
  <% page_articles.each.with_index do |article, i| %>
    <%= partial 'article', locals: { article: article } %>
  <% end %>
</div>

<% if paginate && num_pages > 1 %>
  <div class="text-grey-darker pb-4 my-8 relative">
    <%= partial 'pagination' %>
  </div>
<% end %>

<div class="bg-grey-lighter p-4 mb-6 rounded shadow">
  <%= partial 'form' %>
</div>
